$red-1: salmon;
$red-2: indianred;
$red-3: firebrick;
$red-4: darkred;

$green-1: palegreen;
$green-2: mediumseagreen;
$green-3: forestgreen;
$green-4: darkolivegreen;

$blue-1: lightskyblue;
$blue-2: dodgerblue;
$blue-3: blue;
$blue-4: midnightblue;

$brown-1: wheat;
$brown-2: peru;
$brown-3: sienna;
$brown-4: rgb(153, 81, 81);

$white: white;
$black: black;

:export {
  red: $red-2;
  blue: $blue-1;
  green: $green-2;
  brown: $brown-2;
  white: $white;
  black: $black;
}
